<div id="footerContainer">
    <p>
	 <label>Designed by <a href="http://vectorart.org">VectorArt</a></label>
	 <span>Copyright 2009 Lorem Ipsum. All Rights Reserved</span>
	</p>
   </div>
</body>   
</html>